#Panel {
    height: 100%;
    width: 403px;
    min-width: 403px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 2;
    background-image: linear-gradient(to left, rgb(160, 160, 160), rgb(133, 133, 133), rgb(92, 92, 92));
}

#sidefooter {
    position: fixed;
    bottom: 0px;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.500);
    width: inherit;
    align-content: center;
}

#teams {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
}

.team {
    flex: 1;
    padding: 4px;
    border: 2px solid black;
    box-sizing: border-box;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.team.active {
    cursor: default;
    border-color: #00ff00;
    background: rgba(255, 255, 255, 0.15);
}

.team-status {
    font-weight: bold;
    color: white;
}


.selected {
    display: grid;
}

.selected .mini {
    padding: 6px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
    color: white;
}

/*Maybe use this part to add instead of box select?*/
#pokemoninfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px;
    padding: 20px;
    flex-direction: row;

    /*temp border for visualization*/
}

.profile-container {
    margin: 0px;
    grid-area: 1 / 1 / 2 / 2;
    /*temp border for visualization*/
    border: 2px solid black;
}

#selectedname {
    height: 15%;
    text-align: center;
    text-transform: capitalize;
    margin: 0px;
    box-sizing: border-box;
}

#selectedsprite {
    width: 100%;
    height: 85%;
    object-fit: contain;
    image-rendering: pixelated;
    box-sizing: border-box;
}

.data-container {
    grid-area: 1 / 2 / 2 / 2;
    /*temp border for visualization*/
    border: 2px solid black;
}

#selectedTypeRow {
    height: 15%;
    box-sizing: border-box;
}

#selectedstats {
    height: 85%;
    text-transform: capitalize;
    cursor: pointer;

    text-align-last: justify;
    box-sizing: border-box;
}


#Move-container {
    grid-area: 2 / 1 / 3 / 3;
    grid-template-rows: 2;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid black;
    box-sizing: border-box;
}

.move {
    color: white;
    text-align: center;
    border: 1px solid black;
    background-color: rebeccapurple;
    border-radius: 15px;
    display: inline-block;
    padding-bottom: 3px;
    min-width: 49%;
    font-weight: bold;
    box-sizing: border-box;

}







/* Maybe use for the battle aswell */
#Pokemon-Container {
    padding-right: 1px;
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    z-index: 1;
    background: grey;
    width: calc(100vw - 403px);
    max-width: calc(100vw - 403px);
    min-width: 148px;
    transition: right 0.2s ease-in-out;
    height: 100%;
    box-sizing: border-box;
}

#Pokemon-Container.open {
    right: 0;
}

.pokegrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 148px);
    overflow-x: hidden;
    overflow-y: auto;
    align-content: flex-start;
    justify-content: center;
    gap: 3px;
    padding: 3px;
    height: 100%;
    scroll-snap-type: mandatory;
    justify-content: start;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: lightgray;
    border-style: inset;
    border-color: black;
    border-radius: 10px;
    scroll-snap-align: center;
    text-transform: capitalize;
}

.type-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    align-self: left;
    padding-right: 5px;
    padding-left: 5px;
}

.type {
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    min-width: 48%;
    font-weight: bold;
    text-transform: capitalize;
    box-sizing: border-box;

}




/* Select  highlight */
.card.selected {
    outline-offset: -4px;
    outline: 5px solid green;
    background-color: #ffffff;
}

/*  list in side panel */
#selected {
    padding: 8px;
    color: white;
    text-transform: capitalize;
}



/* the type colour nightmare stack */
.type-normal {
    background-color: #A8A77A;
}

.type-fire {
    background-color: #ee8130;
}

.type-water {
    background-color: #6390F0;
}

.type-electric {
    background-color: #F7D02C;
}

.type-grass {
    background-color: #7AC74C;
}

.type-ice {
    background-color: #96D9D6;
}

.type-fighting {
    background-color: #C22E28;
}

.type-poison {
    background-color: #A33EA1;
}

.type-ground {
    background-color: #E2BF65;
}

.type-flying {
    background-color: #A98FF3;
}

.type-psychic {
    background-color: #F95587;
}

.type-bug {
    background-color: #A6B91A;
}

.type-rock {
    background-color: #B6A136;
}

.type-ghost {
    background-color: #735797;
}

.type-dragon {
    background-color: #6F35FC;
}

.type-dark {
    background-color: #705746;
}

.type-steel {
    background-color: #B7B7CE;
}

.type-fairy {
    background-color: #D685AD;
}